html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Jost', sans-serif;
    background-color: #ffffff;
}
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
}
/* -----------------declare varialbe----------------------- */
.usebc{
    background-color: #FEA02F !important;
}
.bo{
    border: none !important;
}
.bs:focus{
    box-shadow: none;
}
.ff{
    font-family: 'Courgette', cursive;
}
/* ----------------------header------------------------ */

.navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
 .navbar-light .navbar-nav .nav-link:hover,
.usec{
    color: #FEA02F !important;
}
.nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.usec{
    color: #FEA02F !important;
}
.borderb{
    border: 2px solid #FEA02F;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.navbar-nav{
    font-weight: 500;
    font-size: large;
}
.bc:hover .usec{
    color: white !important;
}
.nav-p{
    margin: 0 20px 0 0;
}
.bc:hover{
    background-color: #FEA02F;
    border: 3px solid #FEA02F;
} 
.navbar-nav .nav-link{
    color: white;
}
.navbar-nav .borderbottom{
    border-bottom: 1px solid white;
}
.nav-off{
    background-color: #1D1A25;
}
.offcanvas .btn-close{
    background: url(../image/home/download.svg) center no-repeat;
}
.navbar-light .navbar-toggler-icon{
    background-image: url(../image/home/menu-4-line.svg);
}
/* --------------------------------------section A---------------------------------- */
.acontainer{
    background-image:url(../image/home/s-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 210px 0;
    z-index: 1;
}
.breadcrumb-item a{
    text-decoration: none;
    color: black;
}
.breadcrumb-item a i{
    color: #FEA02F;
}
.breadcrumb-item{
    font-size: 20px;
}
.breadcrumb-item:hover a{
    color: #FEA02F;
}
.navb{
    background-color: white;
    display: inline-block;
    padding: 0 30px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgb(228, 226, 226);
    position: absolute;
    bottom: -56px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.aoverlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.aanimation{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -2;
}
.ulli{
    position: absolute;
    bottom: -170px;
    left: 0;
    
}
.ulli li{
    list-style: none;
    display: inline-block;
    margin: 0 30px 0 0 ;
}
.ulli .up{
    animation: up infinite 25s linear;
}
.ulli li:nth-child(1){
    width: 30px ;
    height: 30px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 0s;
}
.ulli li:nth-child(2){
    width: 40px ;
    height: 40px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 4s;

}
.ulli li:nth-child(3){
    width: 50px ;
    height: 50px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 0s;

}
.ulli li:nth-child(4){
    width: 60px ;
    height: 60px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 10s;

}
.ulli li:nth-child(5){
    width: 140px ;
    height: 140px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 20s;

}
.ulli li:nth-child(6){
    width: 80px ;
    height: 80px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 20s;
}
.ulli li:nth-child(7){
    width: 90px ;
    height: 90px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 4s;

}
.ulli li:nth-child(8){
    width: 100px ;
    height: 100px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 10s;

}
.ulli li:nth-child(9){
    width: 110px ;
    height: 110px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 5s;

}
.ulli li:nth-child(10){
    width: 120px ;
    height: 120px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    transform: rotate(180deg);
    animation-delay: 0s;

}
@keyframes up {
    0%{

    }
    50%{
    }
    100%{
        transform:translateY(-500px);
        
    }
}

/* --------------------------------------section B---------------------------------- */

.bcontainer{
    padding: 100px 0 200px 0;
}
.bleftimg2{
    bottom: -100px;
    right: -80px;
    border-top: 30px solid white;
    border-left: 30px solid white;
}
.hoverbox{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    position: absolute;
    bottom: -30px;
    right: -30px;
    z-index: -1;
}
.bp1{
    position: relative;
    color: #FEA02F;
    font-weight: 600;
}
.bp1::after{
    content: "";
    background-color: #FEA02F;
    width: 8px;
    height: 8px;
    display: inline-block;
    transform: rotate(45deg);
    top: calc(50% - -3px);
    position: absolute;
}
.bs1{
    width: 100px;
    height: 2px;
    background-color: #FEA02F;
    display: inline-block;
}
.bp5{
    font-size: 18px;
}
.bbtn{
    position: relative;
    z-index: 1;
    font-weight: 600;
    border: 2px solid #FEA02F;
    overflow: hidden;
}
.bbtn::after{
   background-color: white;
   content: "";
   width: 100%;
   height: 100%;
   display: inline-block;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   transform: scaleY(0);
   transform-origin: bottom;
   transition: transform 0.5s;
}
.bbtn:hover::after{
    transform: scaleY(1);
    transform-origin: top;
}
.bbtn:hover{
    color:#FEA02F;
}
.bp1btn{
    background-color: white;
}
.bp1btn i{
    color: #FEA02F;
}
.bp1btn:hover i{
    color: white;
}
.bp1btn:hover{
    background-color: #FEA02F;
}
.bp1btn::before{
    content: "";
    background-color: rgba(255, 255, 255,0.4);
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
    transform: scale(0);
    animation: popup 2s infinite cubic-bezier(0.43, 0.43, 0.44, 1.08);
}
@keyframes popup {
    0%{
    opacity: 0;

    }
    25%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.8);
    opacity: 0;

    }
    75%{
        transform: scale(2.4);
        opacity: 0;
    }
    100%{
        transform: scale(3.5);
    }
}
/* --------------------------------------section C---------------------------------- */

.ccontainer{
    background:url(../image/home/banner-1.png) no-repeat center fixed;
    background-size: cover;
    padding: 130px 60px;
}
.ccp1{
    color: #FEA02F;
}


/* --------------------------------------section i---------------------------------- */



.icontainer{
    padding: 100px 0 ;
}
.iimg{
    overflow: hidden;
}
.ibg{
    background: url(../image/home/bg-chef.png) no-repeat center;
    background-size: contain;
    padding: 240px;
    left: -240px;
    bottom: 0;
}
.iimg img{
    transition: all 0.5s;
}
.iimg:hover img{
    transform: scale(1.2);
    /* opacity: 0.7; */
}
.iimg::after{
    content: "";
    display: inline-block;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}
.iimg:hover::after{
    opacity: 1;
}
.iicon{
    z-index: 1;
    background-color: #FEA02F;

}
.ri-add-line{
    color: white;
}
.carousel-indicators [data-bs-target] {
    width: 10px ;
    height: 10px ;
    background-color: #FEA02F;
    border-radius: 50%;
}
.carousel-indicators{
    bottom:-50px;
}


/* --------------------------------------section L---------------------------------- */
.input-group span,.input-group input,.input-group input:focus,.form-control,.form-control:focus{
    background-color: transparent;
    border: 1px solid grey;
    box-shadow: none;
    color: white;
}
.lcontainer{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../image/home/s-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}
.linput{
    border-bottom: 1px solid white;
}
.lplac::placeholder{
    color: white;
}
.lbtn{
    background-color: #FEA02F !important;
}
.lbtn i{
    color: white;
}
.lbtn:hover{
    background-color: white !important;
}
.lbtn:hover i{
    color: #FEA02F;
}


/* --------------------------------------section M---------------------------------- */

.mcontainer{
    padding: 100px 0;
}
.mbg{
    background: url(../image/home/bg-testimonial-1.png) no-repeat center;
    background-size: contain;
    padding: 350px;
    position: absolute;
    left: -350px;
    z-index: -1;
}
.mp1 i{
    color: #FEA02F;
}
.mcontain{
    background-color: white;
    padding: 30px;
    border-radius: 50px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px 0px rgb(228, 226, 226);

}
.mp3{
    font-size: 18px;
}



/* --------------------------------------section footer---------------------------------- */


.footcontainer{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/home/banner-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 200px 0;
    margin-top: 100px;
}
.footsize{
    font-size: 17px;
}
.footicon i:hover{
    color: #FEA02F;
}
.foothead,.footbottom{
    display: flex;
    justify-content: space-between;
}
.footcardcontainer{
    background-image: linear-gradient( rgba(254, 160, 47,0.8), rgba(254, 160, 47,0.8)),url(../image/home/banner-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    bottom: -140px;
    position: absolute;

}
.foodcardparent{
    position: relative;
}
.footcard{
    border: 2px solid white;
}


/* --------------------------------------MEDIA QUARY---------------------------------- */
@media screen and (min-width:320px) and (max-width:480px) {
    .acontain{
        padding: 0;
    }
    .ulli{
        bottom: -600px;
    }
    .navb{
        padding: 0;
    }
    .breadcrumb-item{
        font-size: 15px;
    }
    .bleftimg2{
        display: none;
    }
    .nav-r{
        display: none;
    }
    .nav-l img{
        width: 50%;
    }
    .aimg1,.aimg2{
        display: none;
    }
    .acsbox,.acsbox2,.bp1 span,.bp1::after{
        display: none;
    }
    .eimgbc{
        display: none;
    }
    .navtab .nav-item{
        margin: 0;
    }
    .fcon2div{
        top:260px;
    }
    .fdown{
        display: none;
    }
    .gcontainer{
        padding: 900px 0 60px 0;
    }
    .foothead,.footbottom,.footp1{
        flex-direction: column;
        text-align: center;
    }
    .foodcardparent,.footcardcontainer{
        position: static;
    }
    .footcardcontainer{
        margin-top: 100px;
    }
    .footicon{
        margin-top: 30px;
    }
}